{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    table { border-collapse: collapse; }
tr { border: none; }
td {
  border-right: solid 1px #f00; 
  border-left: solid 1px #f00;
}
    .vl {
      border-left: 6px solid green;
      height: 500px;
    }
    </style>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Lumia Bootstrap Template - Index</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/icofont/icofont.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/boxicons/css/boxicons.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/animate.css/animate.min.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/venobox/venobox.css" %} rel="stylesheet">
  <link href={% static "assets/vendor/owl.carousel/assets/owl.carousel.min.css" %} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static 'css/style.css' %} rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lumia - v2.0.0
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1><a href="index.html">Lumia</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'index' %}">Home</a></li>
          
            
              
              
           
          <li><a href="{% url 'index' %}">About Us</a></li>
          <li><a href="{% url 'index' %}">Disclaimer</a></li>
          <li><a href="{% url 'index' %}">Contact Us</a></li>
          <li><a href="{% url 'index' %}">FAQ'S</a></li>
          <li><a href="{% url 'index' %}">Contact Us</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to <span>Lumia</span></h1>
      <h2>We are team of talanted designers making websites with Bootstrap</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">
   <div class="container" style="margin-left:10%; margin-right: 10%; padding-top: 10mm;">
        <div class="row">
            <div class="col col-sm">
    <table class="table table-hover table-fit"  ></style>
        <thead class="thead-dark">
            <tr>
                
              <th colspan="2" class="th-fit" style="text-align: center;" ></th>
                <th colspan="6" class="th-fit" style="text-align: center;" >TOTAL BEDS ALLOCATED</th>
                <th colspan="6" style="text-align: center;">AVAILABLE BEDS</th>
            </tr>
          <tr>
            <th scope="col" class="th-fit" >SL NO.</th>
            <th scope="col" class="th-fit">Hospital Name</th>
            <th scope="col" class="th-fit" >HDU</th>
            <th scope="col" class="th-fit">Oxygenated</th>
            <th scope="col" class="th-fit">Ventilator</th>
            <th scope="col" class="th-fit">ICU</th>
            <th scope="col" class="th-fit">Normal</th>
            <th scope="col" class="th-fit">Total</th>
            <th scope="col" class="th-fit">HDU</th>
            <th scope="col" class="th-fit">Oxygenated</th>
            <th scope="col" class="th-fit">Ventilator</th>
            <th scope="col" class="th-fit">ICU</th>
            <th scope="col" class="th-fit">Normal</th>
            <th scope="col" class="th-fit">Total</th>
            
          </tr>
        </thead>
        <tbody>
          {% for bed in beds %}
          <tr>
            <th scope="row" class="th-fit">{{loop.count}}</th>
            <td>{{bed.name}}</td>
            <td>{{bed.hdu}}</td>
            <td>{{bed.oxygenated}}</td>
            <td>{{bed.ventilators}}</td>
            <td>{{bed.icu}}</td>
            <td>{{bed.normal}}</td>
            <td>{{bed.total}}</td>
            <td>{{bed.ahdu}}</td>
            <td>{{bed.aoxygenated}}</td>
            <td>{{bed.aventilators}}</td>
            <td>{{bed.aicu}}</td>
            <td>{{bed.anormal}}</td>
            <td>{{bed.atotal}}</td>
            <!-- <td>{{bed.hdu}}</td> -->
          </tr>
          {%endfor%}
          
        </tbody>
      </div>
        </div>
   </div>
</div>
      
      </table>
   


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Lumia</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          

          

         

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Lumia</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/lumia-bootstrap-business-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src={% static "assets/vendor/jquery/jquery.min.js" %} ></script>
  <script src={% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "assets/vendor/jquery.easing/jquery.easing.min.js" %}></script>
  <script src={% static "assets/vendor/php-email-form/validate.js" %}></script>
  <script src={% static "assets/vendor/waypoints/jquery.waypoints.min.js" %}></script>
  <script src={% static "assets/vendor/counterup/counterup.min.js" %}></script>
  <script src={% static "assets/vendor/isotope-layout/isotope.pkgd.min.js" %}></script>
  <script src={% static "assets/vendor/venobox/venobox.min.js" %}></script>
  <script src={% static "assets/vendor/owl.carousel/owl.carousel.min.js" %}></script>

  <!-- Template Main JS File -->
  <script src={% static "assets/js/main.js" %}></script>






  

</body>

</html>